body{
        margin: 0;
        overflow: auto;
        
    }
.header{
        width: 100%;
        height:11vh;
        position: fixed;
        z-index: 1;
        

    }

.caption-style{
  color:"blue";
  font-style:"italic";
  text-align:"center";
  text-decoration:"underline"
}
.main-container{
        width: 100%;
        height: 100%;
    }
.main-body-description{
        flex:1;
        min-height:80vh;
        padding: 60px;
    }